.header {
  height: 100%;
  padding: 0 var(--mantine-spacing-sm);
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.logoGroup {
  gap: var(--mantine-spacing-xs);
  width: calc(220px - (var(--mantine-spacing-sm)));
}

.logoText {
  letter-spacing: -0.3px;
}

.spacer {
  flex: 1;
}

.searchRoot {
  flex: 1;
  min-width: 120px;
  max-width: 240px;
}

.searchInput {
  width: 100%;
  transition: width 150ms ease;
}

.clearBtn:hover {
  background-color: var(--mantine-color-red-light);
}

.spinning {
  animation: spin 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
