.appShell {
  overflow: hidden;
}

.mainArea {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.splitter {
  height: calc(100vh - 44px);
}

.splitterPane {
  display: flex;
  flex-direction: column;
}