.sidebarHeader {
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-bottom: 1px solid var(--mantine-color-default-border);
  min-height: 40px;
  height: 50px;
}

.sidebarScroll {
  flex: 1;
}

.keyItem {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-left: 2px solid transparent;
  background-color: transparent;
  transition:
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-left-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.keyItemInner {
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.keyItem:hover {
  background-color: var(--mantine-color-indigo-5); /* var(--mantine-color-default-hover);*/
}

.keyItem[data-selected="true"] {
  background-color: var(--mantine-color-indigo-8);
  border-left-color: var(--mantine-color-indigo-outline);
}

/* .keyItem[data-selected="true"] .keyNameText
, .keyItem:hover .keyNameText
 {
  color: var(--mantine-color-dark-0);
} */

.keyItem[data-selected="true"] .keyNameText,
.keyItem:hover .keyNameText {
  color: var(--mantine-color-white) !important;
}

.keyBadge {
  flex-shrink: 0;
  width: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.keyItem:hover .keyBadge,
.keyItem[data-selected="true"] .keyBadge {
  transform: scale(1.2);
}

.keyNameText {
  flex: 1;
}

.deleteIcon {
  opacity: 0.4;
  transition:
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(8px);
}

.keyItem:hover .deleteIcon,
.keyItem[data-selected="true"] .deleteIcon {
  opacity: 1;
  transform: translateX(0);
  color: var(--mantine-color-white) !important;
}

.carouselViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carouselTrack {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.carouselSlide {
  width: 33.3333%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.emptyStateContainer {
  height: 100%;
  flex: 1;
}

.emptyStateIcon {
  opacity: 0.3;
}

.emptyStateDescription {
  max-width: 240px;
}
